.admin-profile {
  width: 25rem;
  background-color: #414141;
  color: #FFFFFF;
}
.admin-profile > * {
  margin: auto;
}
.admin-profile__image { 
    margin: 3rem auto;
    height: 10rem; 
    width: 10rem;
    background-size: cover;
    border-radius: 50%;
    border: solid 6px #FFFFFF;
}
.admin-profile__description {
  margin: 2rem;
  font-size: 0.65rem;
}
@media screen and (max-width: 768px) {
  .admin-profile {
    width: 100%;
    height: 100%
  }
}
