*, ::after, ::before {
  box-sizing: border-box;
  font-family: sans-serif, serif;
  
}
html, #root, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
